<h1>Todo:</h1>
<ul>
    <li>Load logo asset as part of module</li>
    <li><del>05/12/2020 - Fix scrollbar issue, scrolling should be inside nav container only</del></li>
    <li>Claims from AD</li>
    <li><del>05/12/2020 - Loading indicator</del></li>
    <li><del>05/12/2020 - Add mod-layout component that wraps welcome-banner, header, and mod-side-menu components for easier use</del></li>
    <li>Breadcrumbs</li>
    <li><del>05/12/2020 - Sub-nav items? Added menu sections instead, a little cleaner, may get the job done, we can add sub navs if needed in the future</del></li>
    <li>Auto timeout? or is authGuard sufficient, authGuard automatically relogs you in if you've expired and hit an authorized page</li>
    <li>Responsiveness</li>
    <ul>
        <li>Consider only showing menu hamburger when in mobile mode</li>
        <li>Consider auto minimizing navigation when in tablet mode</li>
    </ul>
    <li><del>05/12/2020 - Fix issue with menu, when closed after being pinned, it no longer accordions with the main pane (CLOSED: Good enough)</del></li>
    <li>Logging?  Currently have a static logging class that logs things to console, need to hook to framework config variable or think of a better way to handle logging generically</li>
    <li>Add Search to layout</li>
    <li>Footer?  Ask Larry</li>
    <li>Horizontal Menu</li>
    <li>Impersonation</li>
</ul>
<a routerLink="/login">Login</a>
