<mod-layout appName="MOD Framework Demo" [menuConfig]="menuConfig" (userOptionSelect)="onUserOption($event)" (helpOptionSelect)="onHelpOption($event)" (search)="onSearch($event)">
    <div class="app-content">
        <router-outlet></router-outlet>
    </div>
    <!--<mat-card>

    </mat-card>
    <div class="drawing-container">
        <div class="outer circle shapeborder">
            <div class="inner circle shapeborder">
                <i class="material-icons" style="color: white;">person</i>
            </div>
        </div>
        <div class="contact-details">
            <span class="contact-name">Joe Employee</span>
            <span class="contact-title">Supreme Leader</span>
            <span class="contact-title">NEOB, Washington, DC</span>
            <span class="contact-title">Started September 10, 2010</span>
        </div>
    </div>-->
</mod-layout>
